html {
    text-align: center;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-size: 100% auto;
}

section {
    margin: 10% 30% 10% 30%;
    padding: 30px;
    background-color: rgba(206, 212, 205, 0.6);
}

.titre {
    font-size: 200%;
    font-weight: bold;
}

.medium {
    color: darkblue;
    font-size: 130%;
    font-style: italic;
}

.small {
    font-size: 100%;
}

.small a {
    color: darkgreen;
    font-weight: bold;
}

input[type=text] {
    font-size: 12   0%;
    margin: 5px 0 5px 0;
}

input[type=submit] {
    font-size: 120%;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.submit {
    font-size: 100%;
}