html
{
background-color:bisque;
}

@font-face
{
    font-family: Bebas;
    src: url(Bebas.ttf);
}

@font-face
{
	font-family: Aurore;
	src: url(Aurore.ttf);
}

h1
{
	font-family:'Bebas', Verdana;
	font-size: 5em;
	color: rgb(227,97,10);
	text-align:center;
}

h2
{
	font-family: 'Aurore', Verdana;
	font-size: 4em;
	text-align: center;
}

h3
{
	font-size: 1em;
	text-align: center;
}

.language
{
    text-align: right;
    padding-top: 1%;
    padding-right: 2%;
}

.language a
{
    text-decoration: none;
    font-size: 100%;
    color: red;
}

.language a:hover
{
    background-color: grey;
    color:white;
}

.connect
{
    text-align: right;
    padding-top: 10px;
    padding-right: 3%;
}

.connect a
{
    text-decoration: none;
    font-size: 100%;
    color: green;
}

.connect a:hover
{
    background-color: grey;
    color:white;
}


.Navigation
{
	padding: 1%;
	/*margin-right: 50px;*/
	/*margin-bottom :50px;*/
	font-size: 100%;
	text-align: center;
}

.Navigation a
{
    margin-left: 3%;
    margin-right: 3%;
	color: darkgreen;
	font-family:'Bebas', Verdana;
	text-decoration: none;
	font-size: 3em;	
}

#logo_menu
{
    display: block;
    margin: 0 auto;
	height: 40%;
}

#container
{
    display: inline-block;
   text-align: center;
}

#container a:hover
{
	color:rgb(227,97,10);
	font-family: 'Bebas', Verdana;
}

#Menu_section h3
{
    font-family:'Bebas', Verdana;
	font-size: 2em;
	color: rgb(102,75,58);
	text-align:center;
}

#Menu_section table
{
    width: 100%;
    margin: auto;
}

.trait_dessus
{
	margin: 0 auto;
	border-top: 4px solid #5A3E30;
	width : 90%;
}

#icone
{
    text-align: center;
}

#icone a
{
	margin-left: 65px;
	margin-right: 65px;
}

#icone img
{
	width: 10%;
    margin: 0px 30px 0px 30px;
}

#icone img:hover
{
    cursor: pointer;
    pointer: hand;
    background-color: black;
    border-radius:50%;
}

#pizza_show
{
    width: 50%;
    margin: auto;
}

#pasta_show
{
    width: 50%;
    margin: auto;
}

#salad_show
{
    width: 50%;
    margin: auto;
}

#drink_show
{
    width: 50%;
    margin: auto;
}

#dessert_show
{
    width: 50%;
    margin: auto;
}

.name
{
    font-family: 'Bebas', Verdana;
    color: rgb(108,56,45);
    font-size: 2em;
}

.composition
{
    font-family: 'Bebas', Verdana;
    color: rgb(108,56,45);
    font-size: 1em;

}

.price
{
    font-family: 'Bebas', Verdana;
    color: rgb(255,132,9);
    font-size: 2em;
}

#pizza_show h3
{
    font-family: 'Bebas', Verdana;
    color: rgb(230,165,46);
    font-size: 3em;
}

#pasta_show h3
{
    font-family: 'Bebas', Verdana;
    color: rgb(192,57,43);
    font-size: 3em;
}

#salad_show h3
{
    font-family: 'Bebas', Verdana;
    color: rgb(116,0,116);
    font-size: 3em;
}

#drink_show h3
{
    font-family: 'Bebas', Verdana;
    color: rgb(102,75,58);
    font-size: 3em;
}

#dessert_show h3
{
    font-family: 'Bebas', Verdana;
    color: rgb(230,165,46);
    font-size: 3em;
}

th
{
     font-family: 'Bebas', Verdana;
    color: rgb(108,56,45);
    font-size: 2em;
}

table 
{
    border-collapse: separate;
    border-spacing: 20px;
}

#googleMap
{
	width : 90%;
    margin: auto;
    border: 2px solid black;
    width:50%;
    height:35%;
}

#localisation
{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Bebas', Verdana;
    font-size: 2em;
}

#devant
{
    width:50%;
    margin : auto;
    border: 2px solid black;
}

#Opening_hours
{
  text-align: center;  
}

#Opening_hours img
{
    display: inline-block;
    
}

#horaires
{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Bebas', Verdana;
    font-size: 2em;
}

#contact
{
    text-align: center;
    font-family: 'Bebas', Verdana;
    font-size: 2em;
}

#facebook_feed
{
    margin: 10px 20px 30px 50px;
    border: 2px solid black;
}

#contact_number
{
    margin-right: 20px;
}

#contact_number ul
{
    list-style-type: none;
    text-align: left;
}

#contact_number img
{
    vertical-align: middle;
}

#whatsapp
{
    height: 45px;
}

#phone
{
    height: 40px;
}

#parallavar
{
    height: 30px;
}

#contact_form
{
    margin-right: 40px;
    text-align: right;
    
}

#contact_form h3
{
    text-align: left;
}

#contact input
{
  width: 280px;
}

#message
{
    height: 100px;
}

#button_send
{
    width: auto;
    font-family: 'Bebas', Verdana;
    font-size: 1em;
    background-color:darkgreen;
    border-radius: 12px;
}

#footer
{
    margin-top: 4%;
    font-family: 'Aurore', Verdana;
    text-align: center;
    font-size: 15px;
}

#signature
{
    font-weight: bold;
}