
/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */
.flag {
    display: inline-block;
    width: 25px;
    height: 15px;
    background: url('flags.png') no-repeat;
}


.flag.flag-mx {
    background-position: 0 0;
}

.flag.flag-us {
    background-position: -25px 0;
}
