html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    align-content: center;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em 2em 4em;
}

h1 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    padding-top: 10px;
}

h3 {
    margin-top: 1em;
}

p {
    margin: 1em;
}

table, th, td {
    border: 10px;
    border-color: black;
    background-color:floralwhite    
}