html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    align-content: center;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em 2em 4em;
}

h1 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    padding-top: 10px;
}

h3 {
    margin-top: 1em;
}

#first {
    float: left;
    min-width: 100%;
    background-color:darkgray;
    margin-bottom: 20px;
}

#second {
    float: left;
    background-color: #FFFFFF;
    width: 100%;
}

#product {
    max-width: 40%;
    min-width: 335px;
    height: auto;
    margin: 10px 0px;
    padding: 0px 0px 1.5% 0px;
    float: left;
    position: relative;
    background-color: whitesmoke;
}

#description {
    width: 87%;
    text-align: center;
}

#third {
    float: left;
    min-width: 100%;
    background-color:azure;
    width: auto;
    margin-bottom: 20px;
}

p {
    margin: 1em;
}

img {
    display: block;
    margin: auto;
    width: 85%;
    height: auto;
}