@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Black.ttf');
}
 @font-face {
   font-family: Lato;
   font-weight: bold;
   src: url('../fonts/Lato-Bold.ttf');
 }
 @font-face {
   font-family: Lato;
   font-weight: light;
   src: url('../fonts/Lato-Light.ttf');
 }
 @font-face {
   font-family: Rubik;
   src: url('../fonts/Rubik-Regular.ttf');
 }
 @font-face {
   font-family: OpenSans;
   src: url('../fonts/OpenSans-Regular.ttf');
 }
 @font-face {
   font-family: OpenSans;
   font-weight: bold;
   src: url('../fonts/OpenSans-bold.ttf');
 }

.lato {
  font-family:Lato;
}
 .latoBold {
   font-family:Lato;
   font-weight:bold;
 }

 .latoLight {
   font-family:Lato;
   font-weight:light;
 }
 .openSansBold {
   font-family:OpenSans;
   font-weight:bold;
 }

 .openSansLight {
   font-family:OpenSans;
   font-weight:light;
 }

   .parallax3 {
       /* The image used */
       background-image: url("../assets/vision_3years.jpg");

       /* Set a specific height */
       min-height: 500px;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
   }
   .parallax5 {
       /* The image used */
       background-image: url("../assets/vision_5years.jpg");

       /* Set a specific height */
       min-height: 500px;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
   }
   .parallax10 {
       /* The image used */
       background-image: url("../assets/vision_10years.jpg");

       /* Set a specific height */
       min-height: 500px;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
   }
   .parallaxvalues {
       /* The image used */
       background-image: url("../assets/values.jpg");

       /* Set a specific height */
       min-height: 500px;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
   }

/* Set black background color, color text and some padding */
footer {
  background-color: #eeeeee;
  color: black;
  padding: 15px;

}

.foot{
  display: inline;

}

body{
  background-color: white;
  color:#505d68;
  font-family: OpenSans;
}

#logo{
  margin-left: 45%;
  width: 220px;
  height: 69px;
  display: block;
}

/*Main img of documents*/
.dimensionfirstall{
  max-width:100%;
  height: 500px;
  text-align:center;
}

#homeparam{
background-size: auto;
background-attachment: fixed;
min-width: 100%;
}

#serviciosHome{
  background-color: #f9f9f9;
}

.mainImgTxt{
  clear: left;
  padding: 22.6%;
  color: white;
  text-align: center;
}

.textbody{
  text-align:center;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:7%;
  font-size:1.25em;
  line-height: 200%;
}
.textbodyLeft{
  text-align:left;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:50px;
  font-size:20px;
}

/*Imagenes de portada*/

#homeMainImg{
  background-image: url("../assets/home_background.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-width: 100%;
  padding: 24.1% 0px;

}

#orgMainImg{
  background-image: url("../assets/about_background.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-width: 100%;
  padding: 25.8% 0px;
}

#cursosMainImg{
  background-image: url("../assets/course_background.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-width: 100%;
  padding: 19.6% 0px;
}

#contactoMainImg{
  background-image: url("../assets/contact_background.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-width: 100%;
  padding: 25.9% 0px;
}
#donacionesMainImg{
  background-image: url("../assets/donation_background.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-width: 100%;
  padding: 25.9% 0px;
}

#privacidadMainImg{
  background-image: url("../assets/privacy_background.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-width: 100%;
  padding: 25.9% 0px;
}

/* Imagenes otras */

#leftDouble{
  min-width: 100%;
  height: 400px;
  background-image: url("../assets/generation.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10% 0% 0%;

}
#rightDouble{
  min-width: 100%;
  height: 400px;
  background-image: url("../assets/quota.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15% 0% 0%;

}

#leftDoubleDon{
  min-width: 100%;
  height: 500px;
  background-image: url("../assets/cash.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    padding: 5% 0% 0%;
}
#rightDoubleDon{
  min-width: 100%;
  height: 500px;
  background-image: url("../assets/specie.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    padding: 5% 0% 0%;
}

#leftDoubleSomos{
  min-width: 100%;
  height: 400px;
  background-image: url("../assets/mision.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 0% 0%;
}
#rightDoubleSomos{
  min-width: 100%;
  height: 400px;
  background-image: url("../assets/vision.jpg"), linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 0% 0%;
}

#inscripciones {
min-width: 100%;
height: 600px;
background-image: url("../assets/inscription.jpg"), linear-gradient(to bottom right, red, yellow);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

#menu{
  margin-top:50px;
}
.cursosdobleimagen{
  width:670px;
  height:250px;
}
.cursosdobleimagenL{
  width:670px;
  height:400px;
}
.topmarg{
  margin-top:150px !important;
}

.bodyFullImg{
  width:100%;
  height: auto;
  background-size: cover;
}

.normSize {
    font-size: 1.5em;
}

.threeContact{
  background-color:#011627;
  color:white;
  width:500px;
  height: 330px;
  padding: 10%;
}

#middleTreeContact{
  background-color:#ff9f1c;
}

small{
  color:white !important;
}

#largeCuadro{
  font-size:400%;
  padding:10px 80px;
  color:#ffa326;

}

#largeCuadro2{
  font-size:400%;
  color:#ffa326;
  line-height: 0.7em;

}

#smallCuadro{
  font-size:20px;
  margin-left:80px;
  margin-right: 60px;
}

#largeCuadroRight{
  font-size:50px;
  margin-left:80px;
}

#smallCuadroRight{
  font-size:20px;
  color:black;
  margin-left:80px;
  margin-right:100px;
}
.blanco{
  color:white;
}

.plusMargin{
  margin-left:100px;
}
.plusCenter{
  margin-left:125px;
  margin-right:25px;
}

.navbar-right{
  margin-right:200px;
}

h3{
  margin-left:100px;
  margin-right:100px;
  margin-top:50px;
}

/* menu */

body#index ul.nav li:nth-child(1) a,
body#organizacion ul.nav li:nth-child(2) a,
body#cursos ul.nav li:nth-child(3) a,
body#contacto ul.nav li:nth-child(4) a,
body#donaciones ul.nav li:nth-child(5) a
{
    padding-bottom:1px;
    background: transparent;
    border-bottom: 3px solid rgb(255, 158, 54);
    color: #494949;
}

a:hover {
    padding-bottom:1px;
    background: transparent;
    border-bottom: 3px solid rgba(255, 158, 54, 0.5);
    color: #494949;
}

/* arrow bounce */

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50vw;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

.center {
  left: 50%;
}

    .parallax3 {
        /* The image used */
        background-image: url("assets/vision_3years.jpg");

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .parallax5 {
        /* The image used */
        background-image: url("assets/vision_5years.jpg");

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .parallax10 {
        /* The image used */
        background-image: url("assets/vision_10years.jpg");

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .parallaxvalues {
        /* The image used */
        background-image: url("assets/values.jpg");

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
