
</body>
<footer class="container-fluid text-center" style="font-size:1.1em; padding: 2% 0px;">
    <div class="foot latoLight" style="display: inline-block; color:#505d68;"> © 2016 Rescate 1 de Querétaro I.A.P. Todos los derechos reservados.</div>
    <div class="foot latoLight" style="display: inline-block; position=center;">
    <a href="avisoPrivacidad.php">Aviso de privacidad</a></div>
</footer>
</html>
