html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    align-content: center;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em 2em 4em;
}

h1 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    padding-top: 10px;
}

h3 {
    margin-top: 1em;
}

p {
    margin: 1em;
}

#watermark
{
 font-size: .75em;
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:black;
}

.info {
    
    position: fixed;
    bottom:5px;
    left:5px;
    float: left;
    visibility: hidden;
    

}


.error {
    
    color: red;
}


input[type=text], select {
    font-size: 16px;
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
  font-size: 16px;
    width: 100%;
}

input[type=submit] {
    font-size: 24px;
    width: 100%;
    background-color: #ffce00;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffba00;
}

