html{background-color:#e6e9e9;background-image:linear-gradient(270deg,#e6e9e9 0,#d8dddd 100%);font-smoothing:antialiased}body{margin:0 auto;padding:2em 2em 4em;max-width:800px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;line-height:1.5em;color:#545454;background-color:#fff}h1,h2,h3,h4,h5,h6{color:#222;font-weight:600;line-height:1.3em}h2{margin-top:1.3em}a{color:#0083e8}strong{font-weight:600}img{background:0 0;border:10px solid rgba(0,0,0,.12);border-radius:4px;display:block;margin:1.3em auto;max-width:100%}
