photography {
    background-color: aliceblue;
    width: 100%;
}
camera {
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
name {
    font-family: sans-serif; 
    display: block;
    color: darkblue;
    font-size: 20pt;
}

price, recommended, rating, sensor, iso, mss, battery, weight, video {
    font-family: serif;
    display: block;
    color: black;
    font-size: 16pt;
}